.wrapper {
  margin-top: 85px;
  margin-bottom: 85px;
}

.form-signin {
  max-width: 450px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.checkbox {
  
}

.form-signin h2 {
  position: relative;
}
