.wrapper {
  margin-top: 85px;
  margin-bottom: 85px;
}

.form-signin {
  max-width: 450px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #dddddd;
}

.centralize {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.bt_custom {
  background-color: black;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 16px;
  color: white;
  border: none;
}

.bt_custom:hover {
  background-color: white;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 16px;
  color: black;
  border: none;
}

.form-signin h2 {
  position: relative;
}
