{% extends 'base.html' %}
{% block usuario %}
    <div class="wrapper">
      <form class="form-signin" action="index.html" method="post">
        <h2 class="form-signin-header">TEST_Login_EloHell</h2>
        <hr />
        <input type="text" class="form-control" placeholder="Username" name="username" value="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
        </label>
        <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
      </form>
      <div class="form-signin">
        <h6>Não tem cadastro? Clique <a href="">Aqui</a></h6>
      </div>
    </div>
{% endblock usuario %}
