{% extends 'base.html' %}
{% block usuario %}
        <div class="center-block">
          <div class="form-group">
            <h2>Registrar</h2>
            <label for="idnome"></label>
            <input type="text" name="nome_user" class="form-control" id="idnome" value="" />
            <label for="idemail"></label>
            <input type="text" name="email_user" class="form-control" id="idemail" value="" />
            <label for="idsenha"></label>
            <input type="password" name="senha_user" class="form-control" id="idsenha" value="" />
            <label for="idnick"></label>
            <input type="text" name="nick_user" class="form-control" id="idnick" value="" />
          </div>
        </div>
{% endblock usuario %}
